.header {
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0px;
  padding: 20px;
}
h1{
  margin: 0;
}
.footer{
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background: grey;
  padding: 10px;
  padding-left: 30px;
}
#body_grid{
  display: grid;
  grid-template-rows: 150px 1fr 150px;
}
#contents_grid{
  display:grid;
  grid-template-columns:200px 1fr;

}
#contents_list{
  border-right: 1px solid gray;
  margin: 0px;
  padding: 10px;
}
#contents{
  margin: 0;
  padding: 20px;
}
ol{
  padding-left: 10px;
}
